$body_color: #161817;
$section_ligher_gray: #1c1e1d;
$text_color: #cfcfcf;
$h2_color: #e7e7e7;
$border_color_gray: #9eaba5;
$border-color-hover: #51715c;

$xxl_min: 1921px;
$xl_min: 1440px;
$lg_max: 991px;
$md_max: 768px;
$sm_max: 600px;
$xs_max: 400px;

$abs_pos_left_min: calc((100% - 1920px)/2);
$abs_pos_right_max: calc(100% - (100% - 1920px)/2);