@use "variables" as *;
@use "animations";

/* --------- generic --------- */
@font-face{
    font-family: bodoni;
    src: url('/assets/fonts/BodoniFLF-Bold.woff2');
    font-display: swap;
}

::selection,
::-webkit-selection {
    color: black;
    background: #43ad6a;
    text-shadow: none;
}
::-moz-selection{
    color: black;
    background: #43ad6a;
}

::-webkit-scrollbar{
    background-color: #4d504d;
}
::-webkit-scrollbar-thumb {
    background: #848f89;
    border: 1px solid #4d504d;

    &:hover{
        background: #a8b3ad;
    }
}
html{
    overflow-x: hidden;
    max-width: 100%;
}
body{
    margin: 0;
    background-color: $body_color;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}
p, li{
    color: $text_color;
    line-height: 1.7rem;
}
ul{
    padding-left: 1rem;
    margin: 0;
    @media screen and (max-width: $xs_max){
        padding-left: 2rem;
    }
}
.text-with-image-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    img:not(.icon){
        object-fit: cover;
        border-radius: 6px;
        border: 6px double #454545;
        box-shadow: 4px 4px 8px 8px #00000021;
    }
}
.container{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $xl_min){
        margin-left: 10%;
        margin-right: 10%;
    }
    @media screen and (max-width: $md_max){
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 2.5rem;
    color: $h2_color;
}
a{
    color: #50b776;
    &:hover{
        color: #48e582;
    }
}
.bg-img{
    pointer-events: none;
    position: absolute;
    z-index: 1;
    height: auto;
    background-repeat: no-repeat;
}
section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;

    &.lighter{
        background-color: $section_ligher_gray;
        box-shadow: inset 0 0 10px 0px #1a1a1a;
    }
    .container h2{
        margin-top: 0;
        letter-spacing: 2px;
    }
}
.floating-text{
    border-left: 2px solid $border_color_gray;
    padding: 2rem;
    background-color: #53535329;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    width: 575px;
    max-width: fit-content;
    transition: all 0.2s ease-out;

    &:hover{
        border-color: $border-color-hover;
        backdrop-filter: blur(15px);
    }

    @media screen and (max-width: $xs_max){
        padding: 1rem;
    }
    & > p:first-child{
        margin-top: 0;
    }
    & > p:last-child{
        margin-bottom: 0;
    }
}
@media screen and (max-width: $md_max){
    img{
        max-width: calc(100% - 12px);
        max-height: fit-content;
    }
}
.gallery-container{
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;

    &:hover{
        transform: scale(1.02);
        .gallery{
            border-color: $border-color-hover;
        }
        .icon{
            filter: brightness(0.8);
        }
    }
    .icon{
        position: absolute;
        bottom: 20px;
        right: 20px;
        filter: brightness(0.5);
        transition: all 0.2s ease-out;
    }
}
/* --------- header --------- */
.header{
    position: relative;
    line-height: 0;

    .bg-img{
        height: 550px;
        width: 100%;
        position: relative;
        object-fit: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        filter: blur(2px) brightness(0.5);
        max-width: 100%;
        max-height: inherit;
    }
    .hero-floating{
        position: absolute;
        width: 100%;
        top: 245px;
        line-height: initial;

        & > .container{
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            #profile{
                width: 222px;
                height: 333px;
                border-radius: 3px;
                border: 6px double $border_color_gray;
            }
            .header-text-container{
        
                .title-container{
                    width: fit-content;
                    float: right;
                    font-family: bodoni;
                    text-shadow: 0px 0px 6px black;
        
                    h1{
                        text-transform: uppercase;
                    }
                    h2{
                        font-size: 2.5rem;
                    }
                    h1,h2{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        text-align: end;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $lg_max){
        .bg-img{
            height: 480px;
        }
        .hero-floating{
            top: 180px;
        }
    }
    @media screen and (max-width: $md_max){
        .bg-img{
            height: 364px;
        }
        .hero-floating{
            top: 60px;
        }
    }
    @media screen and (max-width: $sm_max){
        .bg-img{
            height: 330px;
        }
        .hero-floating{
            & > .container{
                #profile{
                    width: 133px;
                    height: 200px;
                }
                .header-text-container .title-container{
                    h1{
                        font-size: 2.5rem;
                    }
                    h2{
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $xs_max){
        .bg-img{
            height: 340px;
        }
        .hero-floating{
            top: 2rem;

            & > .container{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
/* ---------- about ---------- */
section#about{
    .floating-text{
        margin-left: auto;
        margin-right: 0;
        width: 700px;
        margin-top: 1rem;
    }
    .bg-img-right{
        bottom: 0;
        right: 0;
        width: 400px;
        opacity: 0.04;
        transform: rotate(180deg);
        @media screen and (min-width: $xxl_min){
            left: $abs_pos_right_max;
            transform: translateX(-100%) rotate(180deg);
        }
        @media screen and (max-width: 690px){
            display: none;
        }
    }
    .bg-img-left{
        bottom: 0;
        left: 0;
        width: 300px;
        opacity: 0.04;
        @media screen and (min-width: $xxl_min){
            left: $abs_pos_left_min;
        }
    }
}
/* ---------- pctrade ---------- */
section#pctrade{
    .bg-img-left{
        top: 3px;
        left: 9px;
        width: 186px;
        opacity: 0.14;
        filter: contrast(0.5);
        @media screen and (min-width: $xxl_min){
            left: $abs_pos_left_min;
        }
    }
    .bg-img-center{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        opacity: 0.08;
        filter: contrast(0.5);
        max-height: 500px;
    }
    p.floating-text{
        width: 800px;
        margin-bottom: 2rem;
    }
    @media screen and (max-width: $lg_max){
        .text-with-image-block{
            flex-direction: column;
        }
    }
}
/* ---------- hungarosun ---------- */
section#hungarosun{
    .text-with-image-block{
        margin-bottom: 2rem;
    }
    .bg-img-left{
        top: 13px;
        left: 15px;
        width: 186px;
        opacity: 0.14;
        @media screen and (min-width: $xxl_min){
            left: $abs_pos_left_min;
        }
    }
    .bg-img-right{
        bottom: 50px;
        right: 10%;
        width: 640px;
        opacity: 0.14;
        @media screen and (min-width: $xxl_min){
            left: $abs_pos_right_max;
            transform: translateX(-100%);
        }
    }
    @media screen and (max-width: $lg_max){
        .text-with-image-block{
            flex-direction: column-reverse;
            gap: 1rem;
        }
        .floating-text{
            margin-left: auto;
            margin-right: auto;
        }
    }
}
/* ---------- falcosun ---------- */
section#falcosun{
    .text-with-image-block{
        @media screen and (max-width: $lg_max){
            flex-direction: column;
        }
    }
    .bg-img-top{
        top: 0;
        left: 0;
        width: 200px;
        opacity: 0.15;
        filter: contrast(0.5);
        @media screen and (min-width: $xxl_min){
            left: $abs_pos_left_min;
        }
    }
    .bg-img-center{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(346deg);
        width: 315px;
        opacity: 0.11;
        filter: contrast(0.5);
        @media screen and (max-width: $sm_max){
            max-width: 70%;
        }
    }
}
/* ---------- university ---------- */
section#university{
    .section-content > .floating-text{
        width: 100%;
        margin-bottom: 2.5rem;
        @media screen and (max-width: $lg_max){
            margin-bottom: 1rem;
        }
    }
    .text-with-image-block:first-of-type{
        margin-bottom: 2.5rem;
        @media screen and (max-width: $lg_max){
            margin-bottom: 1rem;
        }
    }
    .bg-img-left{
        top: 0;
        left: 10%;
        width: 700px;
        height: auto;
        opacity: 0.14;
        transform: rotate(15deg);
        transform-origin: top;
        max-width: 80%;
        @media screen and (min-width: $xxl_min){
            left: $abs_pos_left_min;
        }
    }
    .bg-img-right{
        bottom: 10px;
        right: 50px;
        width: 600px;
        opacity: 0.14;
        transform-origin: top;
        mix-blend-mode: color-burn;
        @media screen and (min-width: $xxl_min){
            left: $abs_pos_right_max;
            transform: translateX(-100%);
        }
    }
    @media screen and (max-width: $lg_max){
        .text-with-image-block{
            gap: 1rem;

            &:first-of-type{
                flex-direction: column;
            }
            &:not(:first-of-type){
                flex-direction: column-reverse;
            }
        }
    }
}
/* ---------- footer ---------- */
footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    background-color: #0d0e0d;

    .container{
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 600px){
            flex-direction: column;
            align-items: center;
        }

        p{
            color: #828282;
            font-size: 16px;
        }
    }
}